@charset "UTF-8";

body, * {
    margin: 0;
    padding: 0;
    border: 0;
}

.navigation ul li:nth-child(1) {
    background-color: #000000;
    color: #FFFFFF;
    cursor: default;
}

.middle_content {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

