<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="multipart/form-data; charset=utf-8" />
    <title>更改头像</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/changeHeadPhoto/changeHeadPhoto.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/head/head.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/footer/footer.css">
    <script type="text/javascript" src="/javascripts/jquery/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="/javascripts/jquery/jquery.cookie.js"></script>
    <script type="text/javascript" src="/javascripts/controller/navigation/navigation.js"></script>
    <script type="text/javascript" src="/javascripts/controller/iphost/iphost.js"></script>
</head>
<body>
<div class="navigation">
    <div class="navigation_min">
        <div class="logo">
            <div class="logo_min">
                <a href="javascript:;">
                    <img src="/images/logo/logo.png">
                </a>
            </div>
        </div>
        <ul id="navigation_ul">
            <li>发现音乐</li>
            <li>我的音乐</li>
            <li>我的收藏</li>
            <li>个人设置</li>
        </ul>
        <div class="search">
            <input type="text" class="search_content" id="search_content" placeholder="搜索音乐/专辑/艺人/歌单">
        </div>
        <div id="head_photo" class="head_photo">
            <img src="/images/headphoto/IMG_0416.JPG">
        </div>
        <div id="login_btn" class="login_btn">
            <a href="javascript:;">登录</a>
        </div>
        <div id="logout_btn" class="logout_btn">
            <a href="javascript:;">退出登录</a>
        </div>
    </div>
</div>
<div class="red_bar"></div>
<div class="middle_content">
    <div class="middle_content_min">
        <div class="setting_title">
            更改头像
        </div>
        <div class="upload_box">
            <div class="upload_btn_box">
                <input type="file" class="upload_select_btn" id="upload_select_btn" onchange="imgPreView(this);">
                <a href="javascript:;" class="up_upload_select_btn">上传头像</a>
                <span class="upload_tip">
                    支持jpg、png、bmp格式的图片，且文件小于20M
                </span>
            </div>
            <div class="head_preview" id="head_preview">
                <img id="user_head_photo" src="/images/headphoto/default_head_photo.png" alt="#">
            </div>
            <div class="operate_btns">
                <a href="javascript:;" class="save_head_photo_btn" id="save_head_photo_btn">保存</a>
                <a href="javascript:;" class="cancel_btn" id="cancel_btn">取消</a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/javascripts/controller/style/changeHeadPhoto.js"></script>
<div class="copyright">
    <div class="copyright_min">
        <ul class="services">
            <li>关于本站</li>
            <li>客户服务</li>
            <li>服务条款</li>
            <li>网站导航</li>
            <li>意见反馈</li>
        </ul>
        <div class="copyright_text">
            音乐云版权所有©2017-1018
        </div>
    </div>
</div>
<div id="reminder_search_content" class="reminder_search_content">
    歌曲名不能为空！
</div>
<script type="text/javascript" src="/javascripts/controller/customAlert/customAlert.js"></script>
</body>
</html>