<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>发现音乐</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/findMusic/findMusic.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/head/head.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/footer/footer.css">
    <script type="text/javascript" src="/javascripts/jquery/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="/javascripts/jquery/jquery.cookie.js"></script>
    <script type="text/javascript" src="/javascripts/controller/navigation/navigation.js"></script>
    <script type="text/javascript" src="/javascripts/controller/iphost/iphost.js"></script>
</head>
<body>
<div class="navigation">
    <div class="navigation_min">
        <div class="logo">
            <div class="logo_min">
                <a href="javascript:;">
                    <img src="/images/logo/logo.png">
                </a>
            </div>
        </div>
        <ul id="navigation_ul">
            <li>发现音乐</li>
            <li>我的音乐</li>
            <li>我的收藏</li>
            <li>个人设置</li>
        </ul>
        <div class="search">
            <input type="text" class="search_content" id="search_content" placeholder="搜索音乐/专辑/艺人/歌单">
        </div>
        <div id="head_photo" class="head_photo">
            <img src="">
        </div>
        <div id="login_btn" class="login_btn">
            <a href="javascript:;">登录</a>
        </div>
        <div id="logout_btn" class="logout_btn">
            <a href="javascript:;">退出登录</a>
        </div>
    </div>
</div>
<div class="red_bar"></div>
<div class="middle_content">
    <div class="middle_content_min">
        <div class="search_bar" id="search_bar">
            <input name="search_content_input" class="search_content_input" id="search_content_input" type="text">
            <a class="search_btn" id="search_btn" href="javascript:;"></a>
        </div>
        <ul class="tab_bar" id="tab_bar">
            <li>
                <a href="javascript:;" class="tb_slt">单曲</a>
            </li>
            <li>
                <a href="javascript:;">歌手</a>
            </li>
            <li>
                <a href="javascript:;">专辑</a>
            </li>
            <li>
                <a href="javascript:;">歌单</a>
            </li>
            <li>
                <a href="javascript:;">用户</a>
            </li>
        </ul>
        <div class="fd_music_list" id="fd_music_list">
            <div class="a_music">
                <div class="am_w1">
                    <a href="javascript:;">夜曲</a>
                </div>
                <div class="am_w2">
                    <div class="operate_btn">
                        <a href="javascript:addTheMusicToMusicList(0);" class="collect_btn"></a>
                    </div>
                </div>
                <div class="am_w3">
                    <a href="javascript:;">周杰伦</a>
                </div>
                <div class="am_w4">
                    <a href="javascript:;">十一月的肖邦</a>
                </div>
                <div class="am_w5">
                    3:46
                </div>
            </div>
            <div class="a_music">
                <div class="am_w1">
                    <a href="javascript:;">夜曲</a>
                </div>
                <div class="am_w2">
                    <div class="operate_btn">
                        <a href="javascript:addTheMusicToMusicList(1);" class="collect_btn">

                        </a>
                    </div>
                </div>
                <div class="am_w3">
                    <a href="javascript:;">周杰伦</a>
                </div>
                <div class="am_w4">
                    <a href="javascript:;">十一月的肖邦</a>
                </div>
                <div class="am_w5">
                    3:46
                </div>
            </div>
            <div class="a_music">
                <div class="am_w1">
                    <a href="javascript:;">夜曲</a>
                </div>
                <div class="am_w2">
                    <div class="operate_btn">
                        <a href="javascript:addTheMusicToMusicList(2);" class="collect_btn">

                        </a>
                    </div>
                </div>
                <div class="am_w3">
                    <a href="javascript:;">周杰伦</a>
                </div>
                <div class="am_w4">
                    <a href="javascript:;">十一月的肖邦</a>
                </div>
                <div class="am_w5">
                    3:46
                </div>
            </div>
            <div class="a_music">
                <div class="am_w1">
                    <a href="javascript:;">夜曲</a>
                </div>
                <div class="am_w2">
                    <div class="operate_btn">
                        <a href="javascript:addTheMusicToMusicList(3);" class="collect_btn">

                        </a>
                    </div>
                </div>
                <div class="am_w3">
                    <a href="javascript:;">周杰伦</a>
                </div>
                <div class="am_w4">
                    <a href="javascript:;">十一月的肖邦</a>
                </div>
                <div class="am_w5">
                    3:46
                </div>
            </div>
        </div>
        <div class="fd_artist_list" id="fd_artist_list">
            <ul class="fd_artists">
                <li>
                    <div class="fd_artist_cover">
                        <a href="javascript:;">
                            <img src="http://p1.music.126.net/o-FjCrUlhyFC96xiVvJZ8g==/109951163111191410.jpg?param=130y130">
                            <span></span>
                        </a>
                    </div>
                    <p>
                        <a href="javascript:;">周杰伦</a>
                    </p>
                </li>
                <li>
                    <div class="fd_artist_cover">
                        <a href="javascript:;">
                            <img src="http://p1.music.126.net/o-FjCrUlhyFC96xiVvJZ8g==/109951163111191410.jpg?param=130y130">
                            <span></span>
                        </a>
                    </div>
                    <p>
                        <a href="javascript:;">周杰伦</a>
                    </p>
                </li>
                <li>
                    <div class="fd_artist_cover">
                        <a href="javascript:;">
                            <img src="http://p1.music.126.net/o-FjCrUlhyFC96xiVvJZ8g==/109951163111191410.jpg?param=130y130">
                            <span></span>
                        </a>
                    </div>
                    <p>
                        <a href="javascript:;">周杰伦</a>
                    </p>
                </li>
            </ul>
        </div>
        <div class="fd_special_list" id="fd_special_list">
            <ul class="fd_specials">
                <li>
                    <div>
                        <a href="javascript:;">
                            <img src="http://p1.music.126.net/yEGx5yAd9zaa3l03d30KNw==/18511377767183740.jpg?param=180y180">
                            <span></span>
                        </a>
                    </div>
                    <p>
                        <a href="javascript:;">十一月的肖邦</a>
                    </p>
                    <p>
                        <a href="javascript:;">周杰伦</a>
                    </p>
                </li>
            </ul>
        </div>
        <div class="fd_musicList_list" id="fd_musicList_list">
            <ul class="fd_musicLists">
                <li>
                    <div class="play_btn">
                        <a href="javascript:;"></a>
                    </div>
                    <div class="fdml_cover">
                        <a href="javascript:;">
                            <img src="http://p1.music.126.net/qQvBj4_NAvzwXptbNeU7Sw==/3297435382141104.jpg?param=180y180">
                            <span></span>
                        </a>
                    </div>
                    <div class="fdml_tt_and_opt">
                        <div class="fdml_title">
                            <a href="javascript:;">古典音樂史上最優美的夜曲与小夜曲</a>
                        </div>
                        <div class="fdml_operate_btns">
                            <a href="javascript:;"></a>
                        </div>
                    </div>
                    <div class="fdml_number">
                        49首
                    </div>
                    <div class="fdml_author">
                        by
                        &nbsp;&nbsp;
                        <a href="javascript:;">sam199510</a>
                    </div>
                </li>
                <li>
                    <div class="play_btn">
                        <a href="javascript:;"></a>
                    </div>
                    <div class="fdml_cover">
                        <a href="javascript:;">
                            <img src="http://p1.music.126.net/qQvBj4_NAvzwXptbNeU7Sw==/3297435382141104.jpg?param=180y180">
                            <span></span>
                        </a>
                    </div>
                    <div class="fdml_tt_and_opt">
                        <div class="fdml_title">
                            <a href="javascript:;">古典音樂史上最優美的夜曲与小夜曲</a>
                        </div>
                        <div class="fdml_operate_btns">
                            <a href="javascript:;"></a>
                        </div>
                    </div>
                    <div class="fdml_number">
                        49首
                    </div>
                    <div class="fdml_author">
                        by
                        &nbsp;&nbsp;
                        <a href="javascript:;">sam199510</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="fd_user_list" id="fd_user_list">
            <ul class="fd_users">
                <li>
                    <div class="user_head_photo">
                        <a href="javascript:;">
                            <img src="http://p1.music.126.net/AAcOrjIy_i5TmNM1lthGTA==/109951162822042628.jpg?param=180y180">
                            <span></span>
                        </a>
                    </div>
                    <div class="user_info">
                        <a href="javascript:;" class="user_nickname_and_sex">
                            <div class="user_nickname">
                                sam199510
                            </div>
                            <span class="sex" style="background-position: -70px -20px;"></span>
                        </a>
                        <div class="user_intro">
                            世间事本无难易，为之则易！
                        </div>
                    </div>
                </li>
                <li>
                    <div class="user_head_photo">
                        <a href="javascript:;">
                            <img src="http://p1.music.126.net/AAcOrjIy_i5TmNM1lthGTA==/109951162822042628.jpg?param=180y180">
                            <span></span>
                        </a>
                    </div>
                    <div class="user_info">
                        <a href="javascript:;" class="user_nickname_and_sex">
                            <div class="user_nickname">
                                sam199510
                            </div>
                            <span class="user_sex" style="background-position: -70px 0;"></span>
                        </a>
                        <div class="user_intro">
                            世间事本无难易，为之则易！
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="copyright">
    <div class="copyright_min">
        <ul class="services">
            <li>关于本站</li>
            <li>客户服务</li>
            <li>服务条款</li>
            <li>网站导航</li>
            <li>意见反馈</li>
        </ul>
        <div class="copyright_text">
            音乐云版权所有©2017-1018
        </div>
    </div>
</div>
<div id="create_music_list_frame_bg" class="create_music_list_frame_bg"></div>
<div class="add_music_list_frame" id="add_music_list_frame">
    <div class="amlf_top">
        <div class="amlf_top_tip">
            添加到歌单
        </div>
    </div>
    <div class="amlf_middle">
        <ul>
            <li>
                <div class="amlfm_item">
                    <div class="amlfm_item_left">
                        <img src="http://p1.music.126.net/RBNa1MGuuwhLWWC8J_Pyhg==/3242459793609734.jpg?param=40y40">
                    </div>
                    <p class="amlfm_item_title">
                        The&nbsp;Playlist&nbsp;of&nbsp;Sam
                    </p>
                    <p class="amlfm_item_num">
                        100首
                    </p>
                </div>
            </li>
            <li>
                <div class="amlfm_item">
                    <div class="amlfm_item_left">
                        <img src="http://p1.music.126.net/RBNa1MGuuwhLWWC8J_Pyhg==/3242459793609734.jpg?param=40y40">
                    </div>
                    <p class="amlfm_item_title">
                        The&nbsp;Playlist&nbsp;of&nbsp;Sam
                    </p>
                    <p class="amlfm_item_num">
                        100首
                    </p>
                </div>
            </li>
            <li>
                <div class="amlfm_item">
                    <div class="amlfm_item_left">
                        <img src="http://p1.music.126.net/RBNa1MGuuwhLWWC8J_Pyhg==/3242459793609734.jpg?param=40y40">
                    </div>
                    <p class="amlfm_item_title">
                        The&nbsp;Playlist&nbsp;of&nbsp;Sam
                    </p>
                    <p class="amlfm_item_num">
                        100首
                    </p>
                </div>
            </li>
            <li>
                <div class="amlfm_item">
                    <div class="amlfm_item_left">
                        <img src="http://p1.music.126.net/RBNa1MGuuwhLWWC8J_Pyhg==/3242459793609734.jpg?param=40y40">
                    </div>
                    <p class="amlfm_item_title">
                        The&nbsp;Playlist&nbsp;of&nbsp;Sam
                    </p>
                    <p class="amlfm_item_num">
                        100首
                    </p>
                </div>
            </li>
        </ul>
    </div>
    <span class="close_amlf" id="close_amlf"></span>
</div>
<div id="reminder_search_content" class="reminder_search_content">
    歌曲名不能为空！
</div>
<script type="text/javascript" src="/javascripts/controller/style/findMusic.js"></script>
<script type="text/javascript" src="/javascripts/controller/function/addMusicFunction.js"></script>
<script type="text/javascript" src="/javascripts/controller/customAlert/customAlert.js"></script>
</body>
</html>

