<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>发现音乐</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/findMusic/findMusic.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/head/head.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/footer/footer.css">
    <script type="text/javascript" src="/javascripts/jquery/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="/javascripts/jquery/jquery.cookie.js"></script>
    <script type="text/javascript" src="/javascripts/controller/navigation/navigation.js"></script>
</head>
<body>
<div class="navigation">
    <div class="navigation_min">
        <div class="logo">
            <div class="logo_min">
                <a href="javascript:;">
                    <img src="/images/logo/logo.png">
                </a>
            </div>
        </div>
        <ul id="navigation_ul">
            <li>发现音乐</li>
            <li>我的音乐</li>
            <li>我的收藏</li>
            <li>个人设置</li>
        </ul>
        <div class="search">
            <input type="text" class="search_content" id="search_content" placeholder="搜索音乐/专辑/艺人/歌单">
        </div>
        <div id="head_photo" class="head_photo">
            <img src="/images/headphoto/IMG_0416.JPG">
        </div>
        <div id="login_btn" class="login_btn">
            <a href="javascript:;">登录</a>
        </div>
        <div id="logout_btn" class="logout_btn">
            <a href="javascript:;">退出登录</a>
        </div>
    </div>
</div>
<div class="red_bar"></div>
<div class="middle_content">
    <div class="middle_content_min">
        <div class="search_bar" id="search_bar">
            <input name="search_content_input" class="search_content_input" id="search_content_input" type="text">
            <a class="search_btn" id="search_btn" href="javascript:;"></a>
        </div>
        <ul class="tab_bar" id="tab_bar">
            <li>
                <a href="javascript:;" class="tb_slt">单曲</a>
            </li>
            <li>
                <a href="javascript:;">歌手</a>
            </li>
            <li>
                <a href="javascript:;">专辑</a>
            </li>
            <li>
                <a href="javascript:;">歌单</a>
            </li>
            <li>
                <a href="javascript:;">用户</a>
            </li>
        </ul>
        <div class="fd_music_list" id="fd_music_list">
            <div class="a_music">
                <div class="am_w1">
                    <a href="javascript:;">夜曲</a>
                </div>
                <div class="am_w2">
                    <div class="operate_btn">
                        <a href="javascript:;" class="collect_btn">

                        </a>
                    </div>
                </div>
                <div class="am_w3">
                    <a href="javascript:;">周杰伦</a>
                </div>
                <div class="am_w4">
                    <a href="javascript:;">十一月的肖邦</a>
                </div>
                <div class="am_w5">
                    3:46
                </div>
            </div>
            <div class="a_music">
                <div class="am_w1">
                    <a href="javascript:;">夜曲</a>
                </div>
                <div class="am_w2">
                    <div class="operate_btn">
                        <a href="javascript:;" class="collect_btn">

                        </a>
                    </div>
                </div>
                <div class="am_w3">
                    <a href="javascript:;">周杰伦</a>
                </div>
                <div class="am_w4">
                    <a href="javascript:;">十一月的肖邦</a>
                </div>
                <div class="am_w5">
                    3:46
                </div>
            </div>
            <div class="a_music">
                <div class="am_w1">
                    <a href="javascript:;">夜曲</a>
                </div>
                <div class="am_w2">
                    <div class="operate_btn">
                        <a href="javascript:;" class="collect_btn">

                        </a>
                    </div>
                </div>
                <div class="am_w3">
                    <a href="javascript:;">周杰伦</a>
                </div>
                <div class="am_w4">
                    <a href="javascript:;">十一月的肖邦</a>
                </div>
                <div class="am_w5">
                    3:46
                </div>
            </div>
            <div class="a_music">
                <div class="am_w1">
                    <a href="javascript:;">夜曲</a>
                </div>
                <div class="am_w2">
                    <div class="operate_btn">
                        <a href="javascript:;" class="collect_btn">

                        </a>
                    </div>
                </div>
                <div class="am_w3">
                    <a href="javascript:;">周杰伦</a>
                </div>
                <div class="am_w4">
                    <a href="javascript:;">十一月的肖邦</a>
                </div>
                <div class="am_w5">
                    3:46
                </div>
            </div>
        </div>
        <!--<div class="fd_artist_list">-->
        <!--<div>-->

        <!--</div>-->
        <!--</div>-->
        <!--<div class="fd_special_list">-->
        <!--<div>-->

        <!--</div>-->
        <!--</div>-->
        <!--<div class="fd_musicList_list">-->
        <!--<div>-->

        <!--</div>-->
        <!--</div>-->
        <!--<div class="fd_user_list">-->
        <!--<div>-->
        <!---->
        <!--</div>-->
        <!--</div>-->
    </div>
</div>
<script type="text/javascript" src="/javascripts/controller/style/findMusic.js"></script>
<div class="copyright">
    <div class="copyright_min">
        <ul class="services">
            <li>关于本站</li>
            <li>客户服务</li>
            <li>服务条款</li>
            <li>网站导航</li>
            <li>意见反馈</li>
        </ul>
        <div class="copyright_text">
            音乐云版权所有©2017-1018
        </div>
    </div>
</div>
</body>
</html>