<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/login/login.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/head/head.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/footer/footer.css">
    <script type="text/javascript" src="/javascripts/jquery/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="/javascripts/jquery/jquery.cookie.js"></script>
    <script type="text/javascript" src="/javascripts/controller/navigation/navigation.js"></script>
</head>
<body>
<div class="navigation">
    <div class="navigation_min">
        <div class="logo">
            <div class="logo_min">
                <a href="javascript:;">
                    <img src="/images/logo/logo.png">
                </a>
            </div>
        </div>
        <ul id="navigation_ul">
            <li>发现音乐</li>
            <li>我的音乐</li>
            <li>我的收藏</li>
            <li>个人设置</li>
        </ul>
        <div class="search">
            <input type="text" class="search_content" placeholder="搜索音乐/专辑/艺人/歌单">
        </div>
        <div id="head_photo" class="head_photo">
            <img src="/images/headphoto/IMG_0416.JPG">
        </div>
        <div id="login_btn" class="login_btn">
            <a href="javascript:;">登录</a>
        </div>
    </div>
</div>
<div class="red_bar"></div>
<div class="middle_content">
    <div class="middle_content_min">
        <div class="login_title">
            请用你的帐号登录
        </div>
        <div class="login_frame">
            <div class="login_main">
                <div class="login_plt">
                    <img src="/images/login/platform.png">
                </div>
                <div class="login_btn_item">
                    <button class="log_in_btn">登录</button>
                </div>
                <div class="login_btn_item">
                    <button class="register_btn">注册</button>
                </div>
            </div>
            <div class="login_alt">
                <ul>
                    <li>
                        <a href="javascript:;">
                            <div class="login_wechat"></div>
                            微信登录
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="login_qq"></div>
                            QQ登录
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="login_weibo"></div>
                            微博登录
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <div class="login_netease"></div>
                            网易账号登录
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="copyright">
    <div class="copyright_min">
        <ul class="services">
            <li>关于本站</li>
            <li>客户服务</li>
            <li>服务条款</li>
            <li>网站导航</li>
            <li>意见反馈</li>
        </ul>
        <div class="copyright_text">
            音乐云版权所有©2017-1018
        </div>
    </div>
</div>
<div class="lg_alt_frame_bg"></div>
<div class="login_alt_frame">
    <div class="laf_top">
        <div class="laf_top_title">邮箱账号登录</div>
    </div>
    <div class="laf_main">
        <div class="lafm_top">
            <input type="text" name="email" class="login_email" placeholder="请输入账号">
            <input type="password" name="password" class="login_password" placeholder="请输入密码">
            <div class="reminder_info">请填写邮箱</div>
            <input type="button" name="btn" class="lafm_login_btn" value="登录">
        </div>
        <div class="lafm_bottom">
            <a class="regist_link" href="javascript:;">没有账号？立即注册&nbsp;&nbsp;></a>
        </div>
    </div>
    <span class="close_laf"></span>
</div>
</body>
</html>