<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的音乐</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/myMusic/myMusic.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/head/head.css">
    <script type="text/javascript" src="/javascripts/jquery/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="/javascripts/jquery/jquery.cookie.js"></script>
    <script type="text/javascript" src="/javascripts/controller/navigation/navigation.js"></script>
</head>
<body>
<div class="navigation">
    <div class="navigation_min">
        <div class="logo">
            <div class="logo_min">
                <a href="javascript:;">
                    <img src="/images/logo/logo.png">
                </a>
            </div>
        </div>
        <ul id="navigation_ul">
            <li>发现音乐</li>
            <li>我的音乐</li>
            <li>我的收藏</li>
            <li>个人设置</li>
        </ul>
        <div class="search">
            <input type="text" class="search_content" placeholder="搜索音乐/专辑/艺人/歌单">
        </div>
        <div class="head_photo">
            <img src="/images/headphoto/IMG_0416.JPG">
        </div>
    </div>
</div>
<div class="red_bar"></div>
<div class="middle_content">

</div>
</body>
</html>