<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>音乐播放</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/css/playMusic/playMusic.css">
    <script type="text/javascript" src="/javascripts/jquery/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="/javascripts/jquery/jquery.cookie.js"></script>
    <script type="text/javascript" src="/javascripts/controller/iphost/iphost.js"></script>
</head>
<body>
    <div>

    </div>
    <div class="play_bar">
        <div class="play_bar_min">

        </div>
    </div>
</body>
</html>