<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>音乐播放</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/css/playMusic/playMusic.css">
    <script type="text/javascript" src="/javascripts/jquery/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="/javascripts/jquery/jquery.cookie.js"></script>
    <script type="text/javascript" src="/javascripts/controller/iphost/iphost.js"></script>
</head>
<body>
<div>

</div>
<div class="play_bar">
    <div class="play_bar_min">
        <div class="btns">
            <a class="prv" href="javascript:;"></a>
            <a class="ply" href="javascript:;"></a>
            <a class="nxt" href="javascript:;"></a>
        </div>
        <div class="play">
            <div class="words">
                <span class="music_name">
                    独家记忆
                </span>
                <span class="music_author">
                    陈小春
                </span>
            </div>
            <div class="m_pbar">
                <div class="barbg">
                    <div class="cur">
                        <span class="cur_btn">
                            <i></i>
                        </span>
                    </div>
                </div>
                <div class="time">
                    <em>00:00</em>
                    / 05:07
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>