<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>重置密码</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/resetPassword/resetPassword.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/head/head.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/footer/footer.css">
    <script type="text/javascript" src="/javascripts/jquery/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="/javascripts/jquery/jquery.cookie.js"></script>
    <script type="text/javascript" src="/javascripts/controller/navigation/navigation.js"></script>
    <script type="text/javascript" src="/javascripts/controller/iphost/iphost.js"></script>
</head>
<body>
<div class="navigation">
    <div class="navigation_min">
        <div class="logo">
            <div class="logo_min">
                <a href="javascript:;">
                    <img src="/images/logo/logo.png">
                </a>
            </div>
        </div>
        <ul id="navigation_ul">
            <li>发现音乐</li>
            <li>我的音乐</li>
            <li>我的收藏</li>
            <li>个人设置</li>
        </ul>
        <div class="search">
            <input type="text" class="search_content" id="search_content" placeholder="搜索音乐/专辑/艺人/歌单">
        </div>
        <div id="head_photo" class="head_photo">
            <img src="">
        </div>
        <div id="login_btn" class="login_btn">
            <a href="javascript:;">登录</a>
        </div>
        <div id="logout_btn" class="logout_btn">
            <a href="javascript:;">退出登录</a>
        </div>
    </div>
</div>
<div class="red_bar"></div>
<div class="middle_content">
    <div class="middle_content_min">
        <div class="register_title">
            重置你的密码
        </div>
        <div class="register_frame">
            <div class="register_step" id="register_step">
                <ul>
                    <li>
                        <div class="step_number step_outline">
                            1
                        </div>
                        <span class="step_text step_text_outline">
                            验证邮箱
                        </span>
                    </li>
                    <li>
                        <div class="step_number">
                            2
                        </div>
                        <span class="step_text">
                            重置密码
                        </span>
                    </li>
                </ul>
            </div>
            <form id="first_step_form" class="first_step_form">
                <div class="email_title">
                    邮箱号：
                </div>
                <input type="text" name="register_email" class="register_email" id="register_email" placeholder="邮箱账号">
                <div class="reminder_register_email" id="reminder_register_email"></div>
                <div class="email_code_title">
                    验证码：
                </div>
                <div class="email_code_item">
                    <input type="text" name="email_code" id="email_code" class="email_code" placeholder="邮箱验证码">
                    <input type="button" name="email_send" id="send_email_btn" class="send_email_btn" value="发送">
                </div>
                <div class="reminder_email_code" id="reminder_email_code"></div>
                <a href="javascript:;" class="first_next_step_link" id="first_next_step_link">下一步</a>
            </form>
            <form id="second_step_form" class="second_step_form">
                <div class="password_title">密码：</div>
                <input type="password" name="password" class="password" id="password" placeholder="设置密码">
                <div class="reminder_password" id="reminder_password"></div>
                <div class="re_password_title">确认密码：</div>
                <input type="password" name="re_password" class="re_password" id="re_password" placeholder="输入确认密码">
                <div class="reminder_re_password" id="reminder_re_password"></div>
                <a href="javascript:;" class="second_next_step_link" id="second_next_step_link">重置</a>
            </form>
        </div>
    </div>
</div>
<div class="copyright">
    <div class="copyright_min">
        <ul class="services">
            <li>关于本站</li>
            <li>客户服务</li>
            <li>服务条款</li>
            <li>网站导航</li>
            <li>意见反馈</li>
        </ul>
        <div class="copyright_text">
            音乐云版权所有©2017-1018
        </div>
    </div>
</div>
<div id="reminder_search_content" class="reminder_search_content">
    歌曲名不能为空！
</div>
<script type="text/javascript" src="/javascripts/controller/style/resetPassword.js"></script>
<script type="text/javascript" src="/javascripts/controller/utils/processUrlUtil.js"></script>
<script type="text/javascript" src="/javascripts/controller/utils/timestampToTimeUtil.js"></script>
<script type="text/javascript" src="/javascripts/controller/utils/processMusicDuration.js"></script>
<script type="text/javascript" src="/javascripts/controller/customAlert/customAlert.js"></script>
<script type="text/javascript" src="/javascripts/controller/function/processLink.js"></script>
</body>
</html>