<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人设置</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/settings/settings.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/head/head.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/footer/footer.css">
    <script type="text/javascript" src="/javascripts/jquery/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="/javascripts/jquery/jquery.cookie.js"></script>
    <script type="text/javascript" src="/javascripts/controller/navigation/navigation.js"></script>
</head>
<body>
<div class="navigation">
    <div class="navigation_min">
        <div class="logo">
            <div class="logo_min">
                <a href="javascript:;">
                    <img src="/images/logo/logo.png">
                </a>
            </div>
        </div>
        <ul id="navigation_ul">
            <li>发现音乐</li>
            <li>我的音乐</li>
            <li>我的收藏</li>
            <li>个人设置</li>
        </ul>
        <div class="search">
            <input type="text" class="search_content" placeholder="搜索音乐/专辑/艺人/歌单">
        </div>
        <div id="head_photo" class="head_photo">
            <img src="/images/headphoto/IMG_0416.JPG">
        </div>
        <div id="login_btn" class="login_btn">
            <a href="javascript:;">登录</a>
        </div>
    </div>
</div>
<div class="red_bar"></div>
<div class="middle_content">
    <div class="middle_content_min">
        <div class="settings_frame">
            <span class="settings_title">个人设置</span>
            <ul id="settings_bar" class="settings_bar">
                <li>基本设置</li>
                <li>安全设置</li>
            </ul>
            <form id="update_form" class="update_form" name="reg_testdate">
                <div class="form_left">
                    <div class="item">
                        <label>昵称：</label>
                        <input id="nickname" type="text" name="nickname" class="nickname">
                    </div>
                    <div id="nickname_reminder" class="nickname_reminder">

                    </div>
                    <div class="item tag">
                        <label>介绍：</label>
                        <textarea name="introduction" id="introduction" class="introduction"></textarea>
                        <span id="residue_text" class="residue_text">150</span>
                    </div>
                    <div class="item">
                        <label>性别：</label>
                        <div class="select_gender">
                            <label>
                                <input name="gender" type="radio" value="1" class="gender" checked="checked">&nbsp;男
                            </label>
                            <label>
                                <input name="gender" type="radio" value="2" class="gender">&nbsp;女
                            </label>
                            <label>
                                <input name="gender" type="radio" value="3" class="gender">&nbsp;保密
                            </label>
                        </div>
                    </div>
                    <div class="item">
                        <label>生日：</label>
                        <div class="select_date_of_birth">
                            <select name="YYYY" onChange="YYYYDD(this.value)">
                                <option value="">请选择 年</option>
                            </select>
                            <span>&nbsp;年</span>
                            <select name="MM" onChange="MMDD(this.value)">
                                <option value="">选择 月</option>
                            </select>
                            <span>&nbsp;月</span>
                            <select name="DD">
                                <option value="">选择 日</option>
                            </select>
                            <span>&nbsp;日</span>
                        </div>
                    </div>
                    <script type="text/javascript" src="/javascripts/controller/utils/selectDate.js"></script>
                    <div class="item">
                        <label>地区：</label>
                        <div class="select_province_and_city">
                            <select name="province" id="selProvince" onchange="provinceChange();">
                                <!--<option value=""></option>-->
                            </select>
                            <select name="city" id="selCity">
                                <!--<option value=""></option>-->
                            </select>
                        </div>
                    </div>
                    <script type="text/javascript"
                            src="/javascripts/controller/utils/selectProvinceAndCity.js"></script>
                    <div class="save_item">
                        <input class="save_btn" type="button" value="保存">
                    </div>
                </div>
                <div class="form_right">
                    <img src="/images/headphoto/IMG_0416.JPG">
                    <span class="change_hp_btn"></span>
                    <a href="javascript:;" class="upload" id="upload">更改头像</a>
                </div>
            </form>
            <form id="update_password" class="update_password">
                <div class="form_left">
                    <div class="password_item">
                        <label>原密码：</label>
                        <input id="old_password" type="password" name="old_password" class="nickname">
                        <div id="old_password_reminder" class="password_reminder"></div>
                    </div>
                    <div class="password_item">
                        <label>新密码：</label>
                        <input id="new_password" type="password" name="new_password" class="nickname">
                        <div id="new_password_reminder" class="password_reminder"></div>
                    </div>
                    <div class="password_item">
                        <label>确认密码：</label>
                        <input id="re_new_password" type="password" name="re_new_password" class="nickname">
                        <div id="re_new_password_reminder" class="password_reminder"></div>
                    </div>
                    <div class="save_item">
                        <input class="save_btn" type="button" value="更改密码">
                    </div>
                </div>
            </form>
        </div>
        <script type="text/javascript" src="/javascripts/controller/style/settingsTab.js"></script>
        <script type="text/javascript" src="/javascripts/controller/style/updateBasicInfo.js"></script>
        <script type="text/javascript" src="/javascripts/controller/style/updatePassword.js"></script>
    </div>
</div>
<div class="copyright">
    <div class="copyright_min">
        <ul class="services">
            <li>关于本站</li>
            <li>客户服务</li>
            <li>服务条款</li>
            <li>网站导航</li>
            <li>意见反馈</li>
        </ul>
        <div class="copyright_text">
            音乐云版权所有©2017-1018
        </div>
    </div>
</div>
</body>
</html>