<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>单曲</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/singleSong/singleSong.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/head/head.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/footer/footer.css">
    <script type="text/javascript" src="/javascripts/jquery/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="/javascripts/jquery/jquery.cookie.js"></script>
    <script type="text/javascript" src="/javascripts/controller/navigation/navigation.js"></script>
    <script type="text/javascript" src="/javascripts/controller/iphost/iphost.js"></script>
</head>
<body>
<div class="navigation">
    <div class="navigation_min">
        <div class="logo">
            <div class="logo_min">
                <a href="javascript:;">
                    <img src="/images/logo/logo.png">
                </a>
            </div>
        </div>
        <ul id="navigation_ul">
            <li>发现音乐</li>
            <li>我的音乐</li>
            <li>我的收藏</li>
            <li>个人设置</li>
        </ul>
        <div class="search">
            <input type="text" class="search_content" id="search_content" placeholder="搜索音乐/专辑/艺人/歌单">
        </div>
        <div id="head_photo" class="head_photo">
            <img src="">
        </div>
        <div id="login_btn" class="login_btn">
            <a href="javascript:;">登录</a>
        </div>
        <div id="logout_btn" class="logout_btn">
            <a href="javascript:;">退出登录</a>
        </div>
    </div>
</div>
<div class="red_bar"></div>
<div id="middle_content" class="middle_content">
    <div class="middle_content_min">
        <div class="ss">
            <div class="ss_info">
                <div class="ss_left">
                    <div class="ss_cover">
                        <img src="http://p1.music.126.net/yEGx5yAd9zaa3l03d30KNw==/18511377767183740.jpg?param=130y130">
                        <span class="msk"></span>
                    </div>
                </div>
                <div class="ss_right">
                    <div class="ssr_top">
                        <i class="ssrt_icon"></i>
                        <div class="ss_name">夜曲</div>
                    </div>
                    <p class="des">
                        歌手：
                        <a href="javascript:;">周杰伦</a>
                    </p>
                    <p class="des">
                        专辑：
                        <a href="javascript:;">十一月的萧邦</a>
                    </p>
                    <div class="opt_btns">
                        <a href="javascript:addTheMusicToMusicList(0);" class="collect_btn">
                            <i>收藏</i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="n_cmt">
                <div class="cmt_title">
                    <h3>
                        <span class="cmt_title_min">
                            评论
                        </span>
                    </h3>
                </div>
                <div class="cmt_area">
                    <div class="head">
                        <img src="/images/headphoto/IMG_0416.JPG">
                    </div>
                    <div class="cmt_content">
                        <div class="cmt_content_min">
                            <textarea name="comment" placeholder="评论" class="comment" id="comment"></textarea>
                        </div>
                        <div class="opt_btns">
                            <a class="cmt_btn" id="cmt_btn" href="javascript:;">评论</a>
                            <span class="residue_num" id="residue_num">150</span>
                        </div>
                    </div>
                </div>
                <ul class="all_cmt">
                    <li>
                        <div class="head">
                            <img src="/images/headphoto/IMG_0416.JPG">
                        </div>
                        <div class="cntwrap">
                            <div class="cntwrap_top">
                                <a href="javascript:;">sam199510</a>
                                ：不是周杰伦没有故事去写了，而是你没有故事去听了
                            </div>
                            <div class="cntwrap_bottom">
                                <div class="cnt_time">
                                    2014年12月29日
                                </div>
                                <a href="javascript:;">
                                    <i class="like_cmt"></i>
                                    <span>&nbsp;(1111)</span>
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="copyright">
    <div class="copyright_min">
        <ul class="services">
            <li>关于本站</li>
            <li>客户服务</li>
            <li>服务条款</li>
            <li>网站导航</li>
            <li>意见反馈</li>
        </ul>
        <div class="copyright_text">
            音乐云版权所有©2017-1018
        </div>
    </div>
</div>
<div id="create_music_list_frame_bg" class="create_music_list_frame_bg"></div>
<div class="add_music_list_frame" id="add_music_list_frame">
    <div class="amlf_top">
        <div class="amlf_top_tip">
            添加到歌单
        </div>
    </div>
    <div class="amlf_middle">
        <ul id="amlf_middle">
            <li>
                <div class="amlfm_item">
                    <div class="amlfm_item_left">
                        <img src="http://p1.music.126.net/RBNa1MGuuwhLWWC8J_Pyhg==/3242459793609734.jpg?param=40y40">
                    </div>
                    <p class="amlfm_item_title">
                        The&nbsp;Playlist&nbsp;of&nbsp;Sam
                    </p>
                    <p class="amlfm_item_num">
                        100首
                    </p>
                </div>
            </li>
            <li>
                <div class="amlfm_item">
                    <div class="amlfm_item_left">
                        <img src="http://p1.music.126.net/RBNa1MGuuwhLWWC8J_Pyhg==/3242459793609734.jpg?param=40y40">
                    </div>
                    <p class="amlfm_item_title">
                        The&nbsp;Playlist&nbsp;of&nbsp;Sam
                    </p>
                    <p class="amlfm_item_num">
                        100首
                    </p>
                </div>
            </li>
            <li>
                <div class="amlfm_item">
                    <div class="amlfm_item_left">
                        <img src="http://p1.music.126.net/RBNa1MGuuwhLWWC8J_Pyhg==/3242459793609734.jpg?param=40y40">
                    </div>
                    <p class="amlfm_item_title">
                        The&nbsp;Playlist&nbsp;of&nbsp;Sam
                    </p>
                    <p class="amlfm_item_num">
                        100首
                    </p>
                </div>
            </li>
            <li>
                <div class="amlfm_item">
                    <div class="amlfm_item_left">
                        <img src="http://p1.music.126.net/RBNa1MGuuwhLWWC8J_Pyhg==/3242459793609734.jpg?param=40y40">
                    </div>
                    <p class="amlfm_item_title">
                        The&nbsp;Playlist&nbsp;of&nbsp;Sam
                    </p>
                    <p class="amlfm_item_num">
                        100首
                    </p>
                </div>
            </li>
        </ul>
    </div>
    <span class="close_amlf" id="close_amlf"></span>
</div>
<div id="reminder_search_content" class="reminder_search_content">
    歌曲名不能为空！
</div>
<script type="text/javascript" src="/javascripts/controller/style/singleSong.js"></script>
<script type="text/javascript" src="/javascripts/controller/function/addMusicFunction.js"></script>
<script type="text/javascript" src="/javascripts/controller/customAlert/customAlert.js"></script>
</body>
</html>