<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户歌单</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/userMusicList/userMusicList.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/head/head.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/footer/footer.css">
    <script type="text/javascript" src="/javascripts/jquery/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="/javascripts/jquery/jquery.cookie.js"></script>
    <script type="text/javascript" src="/javascripts/controller/navigation/navigation.js"></script>
</head>
<body>
<div class="navigation">
    <div class="navigation_min">
        <div class="logo">
            <div class="logo_min">
                <a href="javascript:;">
                    <img src="/images/logo/logo.png">
                </a>
            </div>
        </div>
        <ul id="navigation_ul">
            <li>发现音乐</li>
            <li>我的音乐</li>
            <li>我的收藏</li>
            <li>个人设置</li>
        </ul>
        <div class="search">
            <input type="text" class="search_content" id="search_content" placeholder="搜索音乐/专辑/艺人/歌单">
        </div>
        <div id="head_photo" class="head_photo">
            <img src="/images/headphoto/IMG_0416.JPG">
        </div>
        <div id="login_btn" class="login_btn">
            <a href="javascript:;">登录</a>
        </div>
        <div id="logout_btn" class="logout_btn">
            <a href="javascript:;">退出登录</a>
        </div>
    </div>
</div>
<div class="red_bar"></div>
<div id="middle_content" class="middle_content">
    <div class="middle_content_min">
        <div class="usr_msc_lst">
            <div class="uml_info">
                <div class="uml_photo">
                    <img src="http://p4.music.126.net/EbXX5myf_jEgRUUcPOZFXg==/19071029184351830.jpg?param=200y200">
                    <span class="msk"></span>
                </div>
                <div class="uml_other_info">
                    <div class="uoi_h1">
                        <i class="uoih1_icon"></i>
                        <div class="tit">
                            回忆里的操场&nbsp;课桌上的耳机
                        </div>
                    </div>
                    <div class="uoi_h2">
                        <a class="crt_head" href="javascript:;">
                            <img src="http://p1.music.126.net/MiokvMRovqOh9dVwXQSrHA==/109951163172568824.jpg?param=40y40">
                        </a>
                        <span class="crt_usr">
                            <a href="javascript">七香</a>
                        </span>
                        <span class="crt_time">
                            2016-06-30&nbsp;创建
                        </span>
                    </div>
                    <div class="uoi_h3">
                        <a class="play_btn" href="javascript:;">
                            <em class="play_start"></em>
                            播放
                        </a>
                        <a href="javascript:;" class="collect_btn">
                            <i>收藏</i>
                        </a>
                    </div>
                    <div class="uoi_h4">
                        <b>介绍：</b>
                        能遇见你，真好。<br>
                        <br>
                        你能回来，真好。<br>
                        <br>
                        那些曾经分享过的歌。<br>
                        <br>
                        封面@就F的<br>
                    </div>
                </div>
            </div>
            <div class="n-songtb">
                <div class="sontb_title">
                    <h3>
                        <span>
                            歌曲列表
                        </span>
                    </h3>
                    <span class="sontb_num">
                        12首歌
                    </span>
                </div>
                <table class="m_table">
                    <tr>
                        <th class="th_w1">
                            <div class="wp" style="background: none;"></div>
                        </th>
                        <th class="th_w2">
                            <div class="wp">
                                歌曲标题
                            </div>
                        </th>
                        <th class="th_w3">
                            <div class="wp">
                                时长
                            </div>
                        </th>
                        <th class="th_w4">
                            <div class="wp">
                                歌手
                            </div>
                        </th>
                        <th class="th_w5">
                            <div class="wp">
                                专辑
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <span class="num">1</span>
                        </td>
                        <td>
                            <div class="music_title">
                                <a href="javascript:;">夜曲</a>
                            </div>
                        </td>
                        <td class="s-fc3">
                            <span>03:46</span>
                            <div class="opt_btn">
                                <a class="add_music" href="javascript:addTheMusicToMusicList(0);"></a>
                            </div>
                        </td>
                        <td>
                            <span class="author">
                                <a href="javascript:;">周杰伦</a>
                            </span>
                        </td>
                        <td>
                            <span class="special">
                                <a href="javascript:;">十一月的萧邦</a>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="num">2</span>
                        </td>
                        <td>
                            <div class="music_title">
                                <a href="javascript:;">一路向北</a>
                            </div>
                        </td>
                        <td class="s-fc3">
                            <span>04:55</span>
                            <div class="opt_btn">
                                <a class="add_music" href="javascript:addTheMusicToMusicList(1);"></a>
                            </div>
                        </td>
                        <td>
                             <span class="author">
                                <a href="javascript:;">周杰伦</a>
                            </span>
                        </td>
                        <td>
                            <span class="special">
                                <a href="javascript:;">十一月的萧邦</a>
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="copyright">
    <div class="copyright_min">
        <ul class="services">
            <li>关于本站</li>
            <li>客户服务</li>
            <li>服务条款</li>
            <li>网站导航</li>
            <li>意见反馈</li>
        </ul>
        <div class="copyright_text">
            音乐云版权所有©2017-1018
        </div>
    </div>
</div>
<div id="create_music_list_frame_bg" class="create_music_list_frame_bg"></div>
<div class="add_music_list_frame" id="add_music_list_frame">
    <div class="amlf_top">
        <div class="amlf_top_tip">
            添加到歌单
        </div>
    </div>
    <div class="amlf_middle">
        <ul>
            <li>
                <div class="amlfm_item">
                    <div class="amlfm_item_left">
                        <img src="http://p1.music.126.net/RBNa1MGuuwhLWWC8J_Pyhg==/3242459793609734.jpg?param=40y40">
                    </div>
                    <p class="amlfm_item_title">
                        The&nbsp;Playlist&nbsp;of&nbsp;Sam
                    </p>
                    <p class="amlfm_item_num">
                        100首
                    </p>
                </div>
            </li>
            <li>
                <div class="amlfm_item">
                    <div class="amlfm_item_left">
                        <img src="http://p1.music.126.net/RBNa1MGuuwhLWWC8J_Pyhg==/3242459793609734.jpg?param=40y40">
                    </div>
                    <p class="amlfm_item_title">
                        The&nbsp;Playlist&nbsp;of&nbsp;Sam
                    </p>
                    <p class="amlfm_item_num">
                        100首
                    </p>
                </div>
            </li>
            <li>
                <div class="amlfm_item">
                    <div class="amlfm_item_left">
                        <img src="http://p1.music.126.net/RBNa1MGuuwhLWWC8J_Pyhg==/3242459793609734.jpg?param=40y40">
                    </div>
                    <p class="amlfm_item_title">
                        The&nbsp;Playlist&nbsp;of&nbsp;Sam
                    </p>
                    <p class="amlfm_item_num">
                        100首
                    </p>
                </div>
            </li>
            <li>
                <div class="amlfm_item">
                    <div class="amlfm_item_left">
                        <img src="http://p1.music.126.net/RBNa1MGuuwhLWWC8J_Pyhg==/3242459793609734.jpg?param=40y40">
                    </div>
                    <p class="amlfm_item_title">
                        The&nbsp;Playlist&nbsp;of&nbsp;Sam
                    </p>
                    <p class="amlfm_item_num">
                        100首
                    </p>
                </div>
            </li>
        </ul>
    </div>
    <span class="close_amlf" id="close_amlf"></span>
</div>
<script type="text/javascript" src="/javascripts/controller/style/userMusicList.js"></script>
<script type="text/javascript" src="/javascripts/controller/function/addMusicFunction.js"></script>
</body>
</html>