<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/user/user.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/head/head.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/footer/footer.css">
    <script type="text/javascript" src="/javascripts/jquery/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="/javascripts/jquery/jquery.cookie.js"></script>
    <script type="text/javascript" src="/javascripts/controller/navigation/navigation.js"></script>
</head>
<body>
<div class="navigation">
    <div class="navigation_min">
        <div class="logo">
            <div class="logo_min">
                <a href="javascript:;">
                    <img src="/images/logo/logo.png">
                </a>
            </div>
        </div>
        <ul id="navigation_ul">
            <li>发现音乐</li>
            <li>我的音乐</li>
            <li>我的收藏</li>
            <li>个人设置</li>
        </ul>
        <div class="search">
            <input type="text" class="search_content" id="search_content" placeholder="搜索音乐/专辑/艺人/歌单">
        </div>
        <div id="head_photo" class="head_photo">
            <img src="/images/headphoto/IMG_0416.JPG">
        </div>
        <div id="login_btn" class="login_btn">
            <a href="javascript:;">登录</a>
        </div>
        <div id="logout_btn" class="logout_btn">
            <a href="javascript:;">退出登录</a>
        </div>
    </div>
</div>
<div class="red_bar"></div>
<div id="middle_content" class="middle_content">
    <div class="middle_content_min">
        <div class="user_info">
            <div class="ui_head_photo">
                <img id="ui_head_photo" src="/images/headphoto/IMG_0416.JPG">
            </div>
            <div class="ui_other_info">
                <div class="ui_name_and_sex">
                    <h2 class="ui_nas">
                        <span class="ui_name">
                            sam199510
                        </span>
                        <i class="ui_sex"></i>
                    </h2>
                </div>
                <div class="ui_intro">
                    个人介绍：世间事本无难易，为之则易！
                </div>
            </div>
        </div>
        <div class="user_crt_pl_head">
            <h3>
                <span class="ucph_title">
                    sam199510创建的歌单（6）
                </span>
            </h3>
        </div>
        <ul class="user_crt_pl">
            <li>
                <a href="javascript:;">
                    <img src="http://p1.music.126.net/mqpjwD55SvDw6mBRwty2DA==/18962177533208324.jpg?param=140y140">
                    <span class="msk"></span>
                </a>
                <p class="dec">
                    <a href="javascript:;">女神节：一面感性，一面性感</a>
                </p>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="http://p1.music.126.net/mqpjwD55SvDw6mBRwty2DA==/18962177533208324.jpg?param=140y140">
                    <span class="msk"></span>
                </a>
                <p class="dec">
                    <a href="javascript:;">女神节：一面感性，一面性感</a>
                </p>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="http://p1.music.126.net/mqpjwD55SvDw6mBRwty2DA==/18962177533208324.jpg?param=140y140">
                    <span class="msk"></span>
                </a>
                <p class="dec">
                    <a href="javascript:;">女神节：一面感性，一面性感</a>
                </p>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="http://p1.music.126.net/mqpjwD55SvDw6mBRwty2DA==/18962177533208324.jpg?param=140y140">
                    <span class="msk"></span>
                </a>
                <p class="dec">
                    <a href="javascript:;">女神节：一面感性，一面性感</a>
                </p>
            </li>
        </ul>
        <div class="user_crt_pl_head">
            <h3>
                <span class="ucph_title">
                    sam199510收藏的歌单（6）
                </span>
            </h3>
        </div>
        <ul class="user_crt_pl">
            <li>
                <a href="javascript:;">
                    <img src="http://p1.music.126.net/mqpjwD55SvDw6mBRwty2DA==/18962177533208324.jpg?param=140y140">
                    <span class="msk"></span>
                </a>
                <p class="dec">
                    <a href="javascript:;">女神节：一面感性，一面性感</a>
                </p>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="http://p1.music.126.net/mqpjwD55SvDw6mBRwty2DA==/18962177533208324.jpg?param=140y140">
                    <span class="msk"></span>
                </a>
                <p class="dec">
                    <a href="javascript:;">女神节：一面感性，一面性感</a>
                </p>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="http://p1.music.126.net/mqpjwD55SvDw6mBRwty2DA==/18962177533208324.jpg?param=140y140">
                    <span class="msk"></span>
                </a>
                <p class="dec">
                    <a href="javascript:;">女神节：一面感性，一面性感</a>
                </p>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="http://p1.music.126.net/mqpjwD55SvDw6mBRwty2DA==/18962177533208324.jpg?param=140y140">
                    <span class="msk"></span>
                </a>
                <p class="dec">
                    <a href="javascript:;">女神节：一面感性，一面性感</a>
                </p>
            </li>
        </ul>
    </div>
</div>
<div class="copyright">
    <div class="copyright_min">
        <ul class="services">
            <li>关于本站</li>
            <li>客户服务</li>
            <li>服务条款</li>
            <li>网站导航</li>
            <li>意见反馈</li>
        </ul>
        <div class="copyright_text">
            音乐云版权所有©2017-1018
        </div>
    </div>
</div>
<script type="text/javascript" src="/javascripts/controller/style/user.js"></script>
</body>
</html>