@charset "UTF-8";

.navigation {
    height: 70px;
    background-color: #242424;
}

.navigation_min {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    position: relative;
}

.logo {
    float: left;
    margin-left: 45px;
    width: 180px;
    height: 70px;
}

.logo:hover {
    cursor: pointer;
}

.logo_min {
    margin-left: 65px;
    margin-top: 15px;
    width: 40px;
    height: 40px;
}

.logo img {
    width: 100%;
    height: 100%;
}

.navigation ul {
    list-style: none;
    float: left;
}

.navigation ul li {
    float: left;
    width: 120px;
    height: 70px;
    line-height: 70px;
    color: #CCCCCC;
    text-align: center;
    font-size: 14px;
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif, "宋体";
}

.navigation ul li:hover {
    background-color: #000000;
    color: #FFFFFF;
    cursor: default;
}

.search {
    width: 160px;
    height: 32px;
    margin-top: 19px;
    float: left;
    margin-left: 100px;
    /*background-color: red;*/
    border-radius: 16px;
    overflow: hidden;
}

.search_content {
    border: none;
    height: 40px;
    margin-top: -3px;
    width: 165px;
    margin-left: -2px;
    padding-left: 15px;
}

.head_photo {
    width: 36px;
    height: 36px;
    float: left;
    margin-left: 30px;
    margin-top: 17px;
    border-radius: 18px;
    overflow: hidden;
    display: none;
}

.head_photo img {
    width: 100%;
    height: 100%;
}

.login_btn {
    float: left;
    width: 36px;
    height: 20px;
    margin-top: 25px;
    margin-left: 20px;
    display: none;
}

.login_btn a {
    color: #FFFFFF;
    font-size: 14px;
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif, "宋体";
    text-decoration: none;
    font-weight: lighter;
}

.red_bar {
    height: 5px;
    background-color: #C20C0C;
}

.logout_btn {
    width: 100px;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
    border: 1px solid #CDCDCD;
    background-color: white;
    position: absolute;
    right: 125px;
    top: 65px;
    z-index: 99999999;
}

