@charset "UTF-8";

body, * {
    margin: 0;
    padding: 0;
    border: 0;
}

.middle_content {
    /*height: 700px;*/
    background-color: #F5F5F5;
}

.middle_content_min {
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    /*height: 700px;*/
    border-left: 1px solid #D3D3D3;
    border-right: 1px solid #D3D3D3;
    background-color: white;
    padding: 40px;
}

.search_bar {
    width: 420px;
    height: 40px;
    padding: 0;
    border: 0;
    margin: 0 240px;
    background-image: url("../../../images/style/sprite.png");
    background-position: 0 0;
    position: relative;
}

.search_content_input {
    float: left;
    width: 320px;
    height: 17px;
    margin: 12px 0 0 20px;
    background-color: #fff;
    border: none;
    padding: 0;
    outline: none;
}

.search_btn {
    float: right;
    width: 50px;
    height: 40px;
    display: block;
    background: url("../../../images/style/sprite.png") no-repeat 0 9999px;
}

.search_btn:hover {
    background-position: -430px 0;
    filter: alpha(80%);
    opacity: 0.8;
}

.search_btn:active {
    filter: alpha(100%);
    opacity: 1;
}

.tab_bar {
    width: 898px;
    height: 39px;
    margin: 17px 0;
    padding: 0;
    border: 1px solid #ccc;
    border-width: 0 1px;
    list-style: none;
    background: url("../../../images/style/tab.png");
    background-position: 0 0;
}

.tab_bar li {
    float: left;
    width: 112px;
    height: 39px;
    margin: 0;
    padding: 0;
    border: 0;
    position: relative;
    left: -1px;
    text-align: center;
}

.tab_bar li a {
    display: block;
    float: left;
    height: 39px;
    font-size: 14px;
    padding: 0 2px;
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif, "宋体";
    text-decoration: none;
    color: #333333;
    line-height: 39px;
    text-align: center;
    width: 110px;
}

.tab_bar li a:hover {
    background: url("../../../images/style/tab.png") no-repeat 0 9999px;
    background-position: left -90px;
    border-right: 1px solid #D2D2D2;
}

.tb_slt {
    background: url("../../../images/style/tab.png") no-repeat 0 9999px;
    background-position: left -90px;
    border-right: 1px solid #D2D2D2;
}

.fd_music_list {
    width: 900px;
    height: 1290px;
}

.a_music {
    width: 870px;
    height: 23px;
    padding: 10px 10px 8px 18px;
    border: 1px solid #FFFFFF;
}

.fd_music_list .a_music:nth-child(even) {
    background-color: #F7F7F7;
}

.fd_music_list .a_music:nth-child(odd) {
    background-color: white;
}

.fd_music_list .a_music:hover {
    border-color: #E1E1E1;
    background-color: #F2F2F2;
}

.a_music div {
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif, "宋体";
    font-size: 12px;
    float: left;
    line-height: 23px;
}

.a_music div a {
    text-decoration: none;
    color: #333333;
}

.a_music div a:hover {
    text-decoration: underline;
}

.am_w1 {
    width: 370px;
    height: 23px;
}

.am_w2 {
    width: 96px;
    height: 16px;
    margin: 0 5px 0 0;
}

.operate_btn {
    width: 96px;
    height: 16px;
    display: none;
}

.operate_btn a {
    width: 18px;
    height: 16px;
    margin: 0 7px 0 0;
    background-image: url("../../../images/style/table.png");
}

.collect_btn {
    display: block;
    background-position: 0 -174px;
}

.collect_btn:hover {
    background-position: -20px -174px;
}

.am_w3 {
    width: 130px;
    height: 17px;
    margin: 0 12px 0 0;
}

.am_w4 {
    width: 156px;
    height: 17px;
    margin: 0 12px 0 0;
}

.am_w5 {
    width: 30px;
    height: 14px;
    margin: 0 5px 0 0;
}

.a_music:hover .operate_btn{
    display: block;
}
