@charset "UTF-8";

body, * {
    margin: 0;
    padding: 0;
    border: 0;
}

.navigation ul li:nth-child(1) {
    background-color: #000000;
    color: #FFFFFF;
    cursor: default;
}

.middle_content {
    /*height: 700px;*/
    background-color: #F5F5F5;
}

.middle_content_min {
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    /*height: 700px;*/
    border-left: 1px solid #D3D3D3;
    border-right: 1px solid #D3D3D3;
    background-color: white;
    padding: 40px;
}

.search_bar {
    width: 420px;
    height: 40px;
    padding: 0;
    border: 0;
    margin: 0 240px;
    background-image: url("../../../images/style/sprite.png");
    background-position: 0 0;
    position: relative;
}

.search_content_input {
    float: left;
    width: 320px;
    height: 17px;
    margin: 12px 0 0 20px;
    background-color: #fff;
    border: none;
    padding: 0;
    outline: none;
}

.search_btn {
    float: right;
    width: 50px;
    height: 40px;
    display: block;
    background: url("../../../images/style/sprite.png") no-repeat 0 9999px;
}

.search_btn:hover {
    background-position: -430px 0;
    filter: alpha(80%);
    opacity: 0.8;
}

.search_btn:active {
    filter: alpha(100%);
    opacity: 1;
}

.tab_bar {
    width: 898px;
    height: 39px;
    margin: 17px 0;
    padding: 0;
    border: 1px solid #ccc;
    border-width: 0 1px;
    list-style: none;
    background: url("../../../images/style/tab.png");
    background-position: 0 0;
}

.tab_bar li {
    float: left;
    width: 112px;
    height: 39px;
    margin: 0;
    padding: 0;
    border: 0;
    position: relative;
    left: -1px;
    text-align: center;
}

.tab_bar li a {
    display: block;
    float: left;
    height: 39px;
    font-size: 14px;
    padding: 0 2px;
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif, "宋体";
    text-decoration: none;
    color: #333333;
    line-height: 39px;
    text-align: center;
    width: 110px;
}

.tab_bar li a:hover {
    background: url("../../../images/style/tab.png") no-repeat 0 9999px;
    background-position: left -90px;
    border-right: 1px solid #D2D2D2;
}

.tb_slt {
    background: url("../../../images/style/tab.png") no-repeat 0 9999px;
    background-position: left -90px;
    border-right: 1px solid #D2D2D2;
}

.fd_music_list {
    width: 900px;
    height: auto;
    overflow: hidden;
    display: block;
}

.a_music {
    width: 870px;
    height: 23px;
    padding: 10px 10px 8px 18px;
    border: 1px solid #FFFFFF;
}

.fd_music_list .a_music:nth-child(even) {
    background-color: #F7F7F7;
}

.fd_music_list .a_music:nth-child(odd) {
    background-color: white;
}

.fd_music_list .a_music:hover {
    border-color: #E1E1E1;
    background-color: #F2F2F2;
}

.a_music div {
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif, "宋体";
    font-size: 12px;
    float: left;
    line-height: 23px;
}

.a_music div a {
    text-decoration: none;
    color: #333333;
}

.a_music div a:hover {
    text-decoration: underline;
}

.am_w1 {
    width: 370px;
    height: 23px;
}

.am_w2 {
    width: 96px;
    height: 16px;
    margin: 0 5px 0 0;
}

.operate_btn {
    width: 96px;
    height: 16px;
    display: none;
}

.operate_btn a {
    width: 18px;
    height: 16px;
    margin: 0 7px 0 0;
    background-image: url("../../../images/style/table.png");
}

.collect_btn {
    display: block;
    background-position: 0 -174px;
}

.collect_btn:hover {
    background-position: -20px -174px;
}

.am_w3 {
    width: 130px;
    height: 17px;
    margin: 0 12px 0 0;
}

.am_w4 {
    width: 156px;
    height: 17px;
    margin: 0 12px 0 0;
}

.am_w5 {
    width: 30px;
    height: 14px;
    margin: 0 5px 0 0;
}

.a_music:hover .operate_btn {
    display: block;
}

.fd_artist_list {
    width: 900px;
    height: auto;
    overflow: hidden;
    display: none;
}

.fd_artists {
    margin: 0 0 0 -24px;
    width: 924px;
    list-style: none;
    overflow: hidden;
    height: auto;
}

.fd_artists li {
    float: left;
    margin: 0;
    border: 0;
    padding: 0 0 30px 24px;
    width: 130px;
    height: 154px;
}

.fd_artist_cover {
    width: 130px;
    height: 130px;
    position: relative;
}

.fd_artist_cover a {
    display: block;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    border: 0;
}

.fd_artist_cover a img {
    width: 100%;
    height: 100%;
}

.fd_artist_cover a span {
    background-image: url("../../../images/style/coverall.png");
    background-position: 0 -680px;
    position: absolute;
    left: 0;
    top: 0;
    width: 130px;
    height: 130px;
}

.fd_artists li p {
    width: 130px;
    height: 17px;
    line-height: 17px;
    margin-top: 8px;
    font-size: 12px;
    color: #333333;
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif, "宋体";
}

.fd_artists li p a {
    color: #333333;
    text-decoration: none;
}

.fd_artists li p a:hover {
    text-decoration: underline;
}

.fd_special_list {
    width: 900px;
    height: auto;
    display: none;
    overflow: hidden;
}

.fd_specials {
    width: 933px;
    height: auto;
    margin-left: -33px;
    overflow: hidden;
    list-style: none;
}

.fd_specials li {
    width: 153px;
    height: 178px;
    float: left;
    margin: 0;
    border: 0;
    padding: 0 0 30px 33px;
}

.fd_specials li div {
    position: relative;
    width: 130px;
    height: 130px;
}

.fd_specials li div a {
    display: block;
}

.fd_specials li div a img {
    width: 100%;
    height: 100%;
}

.fd_specials li div a span {
    width: 153px;
    height: 130px;
    position: absolute;
    margin-right: -23px;
    background-image: url("../../../images/style/coverall.png");
    background-position: 0 -845px;
    top: 0;
    left: 0;
}

.fd_specials li p:nth-child(2) {
    margin: 8px 0 3px 0;
    font-size: 14px;
    width: 153px;
    height: 20px;
    line-height: 20px;
    color: #000000;
}

.fd_specials li p:nth-child(2) a {
    text-decoration: none;
    display: block;
    width: 143px;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
    color: #000000;
}

.fd_specials li p:nth-child(2) a:hover {
    text-decoration: underline;
}

.fd_specials li p:nth-child(3) {
    width: 153px;
    height: 17px;
    line-height: 17px;
    font-size: 12px;
    color: #666666;
}

.fd_specials li p:nth-child(3) a {
    text-decoration: none;
    color: #666666;
}

.fd_specials li p:nth-child(3) a:hover {
    text-decoration: underline;
}

.fd_musicList_list {
    width: 900px;
    height:auto;
    overflow: hidden;
    display: none;
}

.fd_musicLists {
    width: 900px;
    height: auto;
    overflow: hidden;
    list-style: none;
}

.fd_musicLists li {
    width: 900px;
    height: 62px;
    border: 1px solid #FFFFFF;
}

.fd_musicLists li:nth-child(odd) {
    background-color: #FFFFFF;
}

.fd_musicLists li:nth-child(even) {
    background-color: #F7F7F7;
}

.fd_musicLists li:hover {
    background-color: #F2F2F2;
    border: 1px solid #E1E1E1;
}

.fd_musicLists li div {
    float: left;
}

.play_btn {
    width: 25px;
    height: 17px;
    padding: 22px 20px;
}

.play_btn a {
    width: 17px;
    display: block;
    height: 17px;
    background-image: url("../../../images/style/table.png");
    background-position: 0 -103px;
}

.play_btn a:hover {
    background-position: 0 -128px;
}

.fdml_cover {
    width: 50px;
    height: 50px;
    padding: 6px 10px;
}

.fdml_cover a {
    display: block;
    width: 50px;
    height: 50px;
    position: relative;
}

.fdml_cover a img {
    width: 100%;
    height: 100%;
}

.fdml_cover a span {
    width: 50px;
    height: 50px;
    background-image: url("../../../images/style/coverall.png");
    background-position: -160px 0;
    position: absolute;
    top: 0;
    left: 0;
}

.fdml_tt_and_opt {
    width: 327px;
    height: 18px;
    padding: 22px 10px;
    line-height: 18px;
    position: relative;
}

.fdml_title {
    width: 327px;
    line-height: 18px;
    float: left;
    color: #333333;
}

.fdml_title a {
    font-size: 12px;
    text-decoration: none;
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif, "宋体";
    color: #333333;
    line-height: 18px;
    float: left;
}

.fdml_title a:hover {
    text-decoration: underline;
}

.fdml_operate_btns {
    display: none;
    float: left;
    width: auto;
    height: auto;
    position: absolute;
    top: 22px;
    right: 45px;
}

.fdml_operate_btns a {
    width: 18px;
    height: 16px;
    float: left;
    background-image: url("../../../images/style/table.png");
    background-position: 0 -174px;
}

.fdml_operate_btns a:hover {
    background-position: -20px -174px;
}

.fd_musicLists li:hover .fdml_operate_btns {
    display: block;
}

.fdml_number {
    width: 35px;
    height: 18px;
    padding: 22px 0 22px 25px;
    line-height: 18px;
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif, "宋体";
    font-size: 12px;
    color: #999999;
}

.fdml_author {
    width: 160px;
    height: 18px;
    padding: 22px 10px;
    line-height: 18px;
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif, "宋体";
    font-size: 12px;
    color: #666666;
}

.fdml_author a {
    color: #666666;
    text-decoration: none;
}

.fdml_author a:hover {
    text-decoration: underline;
}

.fd_user_list {
    width: 900px;
    height: auto;
    display: none;
    overflow: hidden;
}

.fd_users {
    width: 900px;
    height: auto;
    overflow: hidden;
    list-style: none;
}

.fd_users li {
    width: 900px;
    height: 62px;
    border: 1px solid #FFFFFF;
}

.fd_users li:nth-child(odd) {
    background-color: #FFFFFF;
}

.fd_users li:nth-child(even) {
    background-color: #F7F7F7;
}

.fd_users li:hover {
    background-color: #F2F2F2;
    border: 1px solid #E1E1E1;
}

.fd_users li div {
    float: left;
}

.user_head_photo {
    width: 50px;
    height: 50px;
    padding: 6px 10px;
    position: relative;
}

.user_head_photo a {
    width: 50px;
    height: 50px;
}

.user_head_photo a img {
    width: 100%;
    height: 100%;
}

.user_head_photo a span {
    display: block;
    width: 50px;
    height: 50px;
    background-image: url("../../../images/style/coverall.png");
    background-position: -160px 0;
    position: absolute;
    top: 6px;
    left: 10px;
}

.user_info {
    width: 460px;
    height: 50px;
    padding: 6px 10px;
}

.user_nickname_and_sex {
    display: block;
    width: 440px;
    height: 18px;
    margin-right: 20px;
    line-height: 18px;
    color: #333333;
    text-decoration: none;
}

.user_nickname:hover {
    text-decoration: underline;
}

.user_nickname {
    height: 18px;
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif, "宋体";
    font-size: 12px;
    color: #333333;
    float: left;
}

.user_nickname_and_sex span {
    width: 14px;
    height: 15px;
    margin: 0 0 0 5px;
    display: block;
    float: left;
    background-image: url("../../../images/style/icon.png");
}

.user_intro {
    margin: 5px 0 0 0;
    width: 460px;
    height: 18px;
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif, "宋体";
    font-size: 12px;
    line-height: 18px;
    color: #999999;
}

.create_music_list_frame_bg {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    display: none;
}

.add_music_list_frame {
    z-index: 99999;
    width: 480px;
    height: 414px;
    margin-left: -240px;
    margin-top: -207px;
    position: fixed;
    left: 50%;
    top: 300px;
    border-radius: 4px;
    overflow: hidden;
    background-color: #FFFFFF;
    display: none;
}

.amlf_top {
    width: 480px;
    height: 38px;
    border-bottom: 1px solid #191919;
    background-color: #2D2D2D;
}

.amlf_top_tip {
    width: 417px;
    height: 38px;
    padding: 0 45px 0 18px;
    line-height: 38px;
    font-weight: bold;
    font-size: 14px;
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif, "宋体";
    color: #FFFFFF;
}

.close_amlf {
    background-image: url("../../../images/layer/layer.png");
    position: absolute;
    top: 16px;
    right: 20px;
    width: 10px;
    height: 10px;
    background-position: 0 -95px;
}

.close_amlf:hover {
    cursor: pointer;
}

.amlf_middle {
    width: 478px;
    height: 374px;
    border-width: 0 1px 1px 1px;
    margin-top: -1px;
    border: 1px solid #878787;
    border-radius: 0 0 4px 4px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.amlf_middle ul {
    width: 463px;
    list-style: none;
}

.amlf_middle ul li {
    width: 428px;
    height: 44px;
    border-top: 1px solid #E0E0E0;
    padding: 6px 0 6px 35px;
}

.amlf_middle ul li:hover {
    background-color: #F2F2F2;
    cursor: pointer;
}

.amlfm_item {
    width: 378px;
    padding: 0 0 0 50px;
    height: 42px;
}

.amlfm_item_left {
    width: 40px;
    height: 40px;
    margin-left: -50px;
    float: left;
}

.amlfm_item_left img {
    width: 100%;
    height: 100%;
}

.amlfm_item_title {
    margin: 2px 0 8px 0;
    width: 378px;
    /*float: left;*/
    height: 17px;
    font-size: 12px;
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif, "宋体";
    color: #333333;
}

.amlfm_item_num {
    width: 378px;
    height: 17px;
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif, "宋体";
    font-size: 12px;
    color: #666666;
}





