@charset "UTF-8";

body, * {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
}

.head_photo_right {
    width: 36px;
    height: 36px;
    float: right;
    margin-right: 155px;
    margin-top: 17px;
    border-radius: 18px;
    overflow: hidden;
    display: block;
}

.head_photo_right img {
    width: 100%;
    height: 100%;
}

.middle_content {
    width: 100%;
    background-color: #F5F5F5;
    z-index: 999;
}

.middle_content_min {
    width: 980px;
    height: 1000px;
    border-left: 1px solid #D3D3D3;
    border-right: 1px solid #D3D3D3;
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
    overflow-y: scroll;
    /*margin-bottom: 50px;*/
}

.play_list {
    float: left;
    width: 659px;
    margin-top: 40px;
    padding-left: 30px;
    /*background-color: #E33232;*/
    height: auto;
    margin-bottom: 20px;
}

.plist_title {
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif, "宋体";
    font-size: 18px;
    height: 20px;
    line-height: 20px;
}

.plist_table {
    width: 100%;
    height: 520px;
    margin: 5px 0;
    /*background-color: #E33232;*/
    /*overflow-x: hidden;*/
    /*overflow-y: scroll;*/
}

.m_table {
    border: 1px solid #d9d9d9;
    width: 95%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    /*margin: 0 15px;*/
}

.m_table tr {
    width: 100%;
    height: 39px;
}

.m_table th {
    height: 38px;
    background-color: #f7f7f7;
    background-position: 0 0;
    background-repeat: repeat-x;
    text-align: left;
    font-weight: normal;
    color: #666666;
    background-image: url("../../../images/style/table.png");
    display: table-cell;
    vertical-align: top;
}

.m_table th .wp {
    background: url("../../../images/style/table.png") no-repeat 0 9999px;
}

.m_table tr th .wp {
    height: 18px;
    line-height: 18px;
    padding: 8px 10px;
    background-position: 0 -56px;
    color: #666666;
    font-size: 12px;
}

.th_w1 {
    width: 74px;
}

.th_w1 .wp {
    background: none;
}

.th_w2 {

}

.th_w3 {
    width: 91px;
}

.th_w3 .wp {
    width: 71px;
}

.th_w4 {
    width: 14%;
}

.th_w4 .wp {
    width: 107px;
}

.th_w5 {
    width: 20%;
}

.m_table td {
    padding: 6px 10px;
}

.m_table tr:nth-child(even) {
    background-color: #F7F7F7;
}

.m_table tr:nth-child(odd) {
    background-color: #FFFFFF;
}

.num {
    float: left;
    display: block;
    width: 25px;
    margin-left: 5px;
    color: #999999;
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif, "宋体";
    font-size: 12px;
}

.music_title {
    width: 326px;
    height: 18px;
    line-height: 18px;
    color: #333333;
    font-size: 12px;
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif, "宋体";
}

.music_title a {
    text-decoration: none;
    color: #333333;
}

.music_title a:hover {
    text-decoration: underline;
}

.s-fc3 {
    position: relative;
    height: 18px;
    line-height: 18px;
}

.s-fc3 span {
    width: auto;
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif, "宋体";
    font-size: 12px;
    color: #666666;
}

.opt_btn {
    position: absolute;
    top: 10px;
    left: 0;
    width: 71px;
    height: 18px;
    line-height: 18px;
    display: none;
}

.m_table tr:nth-child(even) td .opt_btn {
    background-color: #F7F7F7;
}

.m_table tr:nth-child(odd) td .opt_btn {
    background-color: #FFFFFF;
}

.play_music {
    width: 17px;
    display: block;
    float: left;
    height: 17px;
    background-image: url("../../../images/style/table.png");
    background-position: 0 -103px;
}

.play_music:hover {
    background-position: 0 -128px;
}

.add_music {
    margin: 2px 0 0 4px;
    width: 18px;
    height: 16px;
    display: block;
    background-image: url("../../../images/style/table.png");
    background-position: 0 -174px;
}

.add_music:hover {
    background-position: -20px -174px;
}

.m_table tr:hover .opt_btn {
    display: block;
}

.author {
    width: auto;
    height: 18px;
    line-height: 27px;
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif, "宋体";
    font-size: 12px;
    color: #333333;
}

.author a {
    text-decoration: none;
    color: #333333;
}

.author a:hover {
    text-decoration: underline;
}

.special {
    width: auto;
    height: 18px;
    line-height: 27px;
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif, "宋体";
    font-size: 12px;
    color: #333333;
}

.special a {
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
    display: block;
    text-decoration: none;
    width: 107px;
    color: #333333;
}

.special a:hover {
    text-decoration: underline;
}

.music_info {
    float: left;
    margin-top: 40px;
    width: 270px;
    height: 550px;
    border-left: 1px dotted #666666;
    position: fixed;
}

.m_info_cover {
    width: 177px;
    height: 177px;
    margin-left: 20px;
    margin-right: auto;
    position: relative;
    margin-top: 15px;
}

.m_info_cover img {
    width: 100%;
    height: 100%;
}

.m_info_cover span {
    position: absolute;
    width: 209px;
    height: 177px;
    top: 0;
    background-image: url("../../../images/style/coverall.png");
    background-position: 0 -986px;
    left: 0;
}

.music_info p {
    margin: 10px auto;
    display: block;
    width: 230px;
    text-align: center;
    height: 23px;
    line-height: 23px;
    font-size: 14px;
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif, "宋体";
    color: #333333;
}

.music_info p span {
    float: left;
}

.music_info p a {
    text-decoration: none;
    float: left;
    color: #333333;
}

.music_info p a:hover {
    text-decoration: underline;
}

.create_music_list_frame_bg {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    display: none;
}

.add_music_list_frame {
    z-index: 99999;
    width: 480px;
    height: 414px;
    margin-left: -240px;
    margin-top: -207px;
    position: fixed;
    left: 50%;
    top: 300px;
    border-radius: 4px;
    overflow: hidden;
    background-color: #FFFFFF;
    display: none;
}

.amlf_top {
    width: 480px;
    height: 38px;
    border-bottom: 1px solid #191919;
    background-color: #2D2D2D;
}

.amlf_top_tip {
    width: 417px;
    height: 38px;
    padding: 0 45px 0 18px;
    line-height: 38px;
    font-weight: bold;
    font-size: 14px;
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif, "宋体";
    color: #FFFFFF;
}

.close_amlf {
    background-image: url("../../../images/layer/layer.png");
    position: absolute;
    top: 16px;
    right: 20px;
    width: 10px;
    height: 10px;
    background-position: 0 -95px;
}

.close_amlf:hover {
    cursor: pointer;
}

.amlf_middle {
    width: 478px;
    height: 374px;
    border-width: 0 1px 1px 1px;
    margin-top: -1px;
    border: 1px solid #878787;
    border-radius: 0 0 4px 4px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.amlf_middle ul {
    width: 463px;
    list-style: none;
}

.amlf_middle ul li {
    width: 428px;
    height: 44px;
    border-top: 1px solid #E0E0E0;
    padding: 6px 0 6px 35px;
}

.amlf_middle ul li:hover {
    background-color: #F2F2F2;
    cursor: pointer;
}

.amlfm_item {
    width: 378px;
    padding: 0 0 0 50px;
    height: 42px;
}

.amlfm_item_left {
    width: 40px;
    height: 40px;
    margin-left: -50px;
    float: left;
}

.amlfm_item_left img {
    width: 100%;
    height: 100%;
}

.amlfm_item_title {
    margin: 2px 0 8px 0;
    width: 378px;
    /*float: left;*/
    height: 17px;
    font-size: 12px;
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif, "宋体";
    color: #333333;
}

.amlfm_item_num {
    width: 378px;
    height: 17px;
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif, "宋体";
    font-size: 12px;
    color: #666666;
}

.m_audio {
    display: none;
}

.play_bar {
    width: 100%;
    height: 53px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #333333;
}

.play_bar_min {
    width: 880px;
    height: 53px;
    margin: 0 auto;
    padding: 0;
}

.btns {
    width: 137px;
    padding: 6px 0 0 0;
    float: left;
}

.btns a {
    display: block;
    float: left;
    background-image: url("../../../images/play/playbar.png");
}

.prv {
    margin: 5px 8px 0 0;
    width: 28px;
    height: 28px;
    background-position: 0 -130px;
}

.prv:hover {
    background-position: -30px -130px;
}

.ply {
    width: 36px;
    height: 36px;
    margin: 0 8px 0 0;
    background-position: 0 -204px;
}

.ply:hover {
    background-position: -40px -204px;
}

.pause {
    width: 36px;
    height: 36px;
    margin: 0 8px 0 0;
    background-position: 0 -165px;
}

.pause:hover {
    background-position: -40px -165px;
}

.nxt {
    margin: 5px 8px 0 0;
    width: 28px;
    height: 28px;
    background-position: -80px -130px;
}

.nxt:hover {
    background-position: -110px -130px;
}

.play {
    position: relative;
    float: left;
    width: 608px;
}

.words {
    height: 28px;
    color: #E8E8E8;
    text-shadow: 0 1px 0 #171717;
    line-height: 28px;
}

.words span {
    font-size: 12px;
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif, "宋体";
}

.music_name {
    max-width: 300px;
    color: #E8E8E8;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    float: left;
}

.music_author {
    margin-left: 15px;
    color: #9b9b9b;
    float: left;
}

.m_pbar {
    width: 493px;
    position: relative;
    display: block;
}

.barbg {
    position: absolute;
    height: 9px;
    width: 493px;
    background-image: url("../../../images/play/statbar.png");
    background-position: right 0;
}

.cur {
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../../../images/play/statbar.png");
    background-position: left -66px;
    height: 9px;
}

.cur_btn {
    position: absolute;
    top: -7px;
    width: 22px;
    left: 0;
    height: 24px;
    display: block;
    margin-left: -11px;
    background-image: url("../../../images/play/iconall.png");
    background-position: 0 -250px;
}

.cur_btn:hover {
    cursor: pointer;
}

.time {
    position: absolute;
    top: -3px;
    right: -84px;
    color: #797979;
    text-shadow: 0 1px 0 #121212;
    float: left;
    height: 14px;
    font-size: 12px;
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif, "宋体";
}

.time em {
    font-style: normal;
}

.ctrl {
    width: 113px;
    height: 36px;
    margin: 0;
    padding: 0 0 0 13px;
    float: left;
    position: relative;
    background: url("../../../images/play/playbar.png") no-repeat 0 9999px;
    background-position: -147px -238px;
}

.m_vol {
    width: 32px;
    height: 113px;
    position: absolute;
    top: -113px;
    left: 9px;
    clear: both;
    display: none;
}

.m_vol_barbg {
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 113px;
    background: url("../../../images/play/playbar.png") no-repeat 0 9999px;
    background-position: 0 -503px;
}

.vbg {
    padding: 4px 0;
    top: 7px;
    position: absolute;;
    left: 14px;
    width: 4px;
    height: 93px;
}

.curr {
    height: 93px;
    top: auto;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    background: url("../../../images/play/playbar.png") no-repeat 0 9999px;
    width: 4px;
    background-position: -40px bottom;
}

.vol_btn {
    position: absolute;
    top: 0;
    left: -7px;
    width: 18px;
    height: 20px;
    display: block;
    background: url("../../../images/play/iconall.png") no-repeat;
    background-position: -40px -250px;
}

.vol_btn:hover {
    cursor: pointer;
}

.ctrl a {
    display: block;
    margin: 11px 2px 0 0;
    width: 25px;
    height: 25px;
    background-image: url("../../../images/play/playbar.png");
    float: left;
}

.volume {
    background-position: -2px -248px;
}

.volume:hover {
    background-position: -31px -248px;
}

.no_volume {
    background-position: -104px -69px;
}

.no_volume:hover {
    background-position: -126px -69px;
}

.mode_random {
    background-position: -66px -248px;
}

.mode_random:hover {
    background-position: -93px -248px;
}

.mode_one {
    background-position: -66px -344px;
}

.mode_one:hover {
    background-position: -93px -344px;
}

.mode_loop {
    background-position: -3px -344px;
}

.mode_loop:hover {
    background-position: -33px -344px;
}

.tip {
    display: none;
    width: 81px;
    height: 39px;
    top: -35px;
    position: absolute;
    left: 12px;
    line-height: 34px;
    background-image: url("../../../images/play/playbar.png");
    background-position: 0 -457px;
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif, "宋体";
}


